@mixin pad-lateral($tamanho: 36px) {
    padding-left: $tamanho;
    padding-right: $tamanho;
    padding-top: $tamanho;
}

@mixin label() {
    color: $dark-grey;
    margin-bottom: 5px;
    font-weight: 100;
}

aside{
    background-color: white;
    padding: 0 !important;
    min-height: 100vh;
    

    #profile{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff987d+0,fdd96b+100 */
        background: #ff987d; /* Old browsers */
        background: -moz-linear-gradient(45deg, #ff987d 0%, #fdd96b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #ff987d 0%,#fdd96b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #ff987d 0%,#fdd96b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff987d', endColorstr='#fdd96b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        
        padding: 32px;
        div{
            img{
                border-radius: 50%;
                height: 130px;
                width: 130px;
            }
            #icon-avatar{
                height: 50px;
                width: 50px;
                // position: relative;
                // bottom: -40px;
                // left: -40px;
                position: absolute;
                top: 115px;
                right: 115px;
            }
            p{
                text-align: center;
                color: white;
                font-size: 24px;
                letter-spacing: 1px;
                margin: 14px 0 0 0 ;
            }
        }
    }
    #desempenho{
        @include pad-lateral();
        .desempenho-label{
            @include label();
        }
        .desempenho-value{
            font-size: 24px;
        }

    }
    #grafico{
        @include pad-lateral();
    }
    #conquistas{
        @include pad-lateral();
        .conquistas-label{
            @include label();
        }
        .conquistas-legenda{
            text-align: center;
            @include label();
            margin-top: 12px;
        }
    }
    #ranking{
        @include pad-lateral();
        .ranking-label{
            @include label();
        }
        .nav{
            border-bottom: 0;
            .nav-item{
                margin-bottom: -7px;
                .nav-link{
                    font-weight: 100;
                    color: $dark-grey;
                    &:hover{
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                }
                .active{
                    color: black;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    background-color: #dde6ed;
                    border-bottom: 0;

                }
            }
        }
        .tab-content{
            background-color: #dde6ed;
            border-radius: 10px;
            padding: 0 12px 12px 12px;
            max-height: 250px;
            overflow-y: scroll;

            .lista-alunos{
                margin-bottom: 18px;
                padding: 0;
                img{
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    float: left;
                }
                .info-aluno{
                    margin-left: 12px;
                    display: inline-block;
                    .nome{
                        margin: 0;
                    }
                    .unidade{
                        margin: 0;
                        font-size: 11px;
                        color: $dark-grey;
                        
                    }
                }
                .pontos{
                    margin-left: 12px;
                    float: right;
                    display: inline-block;
                }
            }
        }
    }
    #menu{
        @include pad-lateral();
    }
}