nav{
    background-color: $nav-blue;
    // -webkit-box-shadow: 0px 0px 12px -3px rgba(77,77,77,1);
    // -moz-box-shadow: 0px 0px 12px -3px rgba(77,77,77,1);
    // box-shadow: 0px 0px 12px -3px rgba(77,77,77,1);

    a{
        img{
            width: 100px;
        }
    }
    #idioma{
        a{
            text-decoration: none;
            img{
                display: inline;
                border: 2px solid white;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                margin-right: 12px;
            }
            #idioma-label{
                display: inline;
                vertical-align: -webkit-baseline-middle;
                text-transform: uppercase;
                color: white;
                &:link {
                    color: white;
                }
               
                &:hover {
                    color: $soft-grey;
                }
    
            }
        }
    }
    #slogan{
        img{
            width: 80px;       
        }
    }
}